---
import CardModal from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import arduinoImg from "../assets/arduino.png";
---

<Layout>
  <div class="flex flex-wrap justify-center p-4 sm:p-8">
    <CardModal
      id="1"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
    <CardModal
      id="2"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
    <CardModal
      id="3"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
    <CardModal
      id="4"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
    <CardModal
      id="5"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
    <CardModal
      id="6"
      link="store.arduino.cc/en-de/products/make-your-uno-kit"
      imgsrc={arduinoImg}
      imgalt="Arduino Make your UNO Lötkit"
      text="Arduino Make your Uno Lötkit"
      title="Arduino Make Your UNO Kit"
    />
  </div>
</Layout>
